* {
	font-family: Georgia, serif;
}

.toggle {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	cursor: pointer;
	box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
	line-height: 1;
}

.input {
	display: none;
}

.icon {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	line-height: 0.1;
}

.icon--sun {
	transform: scale(0);
}

#switch:checked + .icon--moon {
	transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
	transform: scale(1) rotate(360deg);
}

#switch:checked ~ .toggle {
	background-color: var(--bs-warning-bg-subtle);
}
